page-contact {
.grid{
  background: white;
}
 .toolbar-title-md{
   color:red;
 }


}
ion-header-bar {
  background-color: red;
}
//$toolbar-background:#FFB332;
// $color: (
//   primary:    #488aff,
//   secondary:  #32db64,
//   danger:     #f53d3d,
//   light:      #f4f4f4,
//   dark:       #222,
//   orange:     #FFB332,
// );
