page-home {
.block{
  position:relative;
  .deleteIcon{
    position: absolute;
    margin-left: 80%;
  }
}
.Logo {
  margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
}
}
