<ion-header>
  <ion-navbar color="primary">
    <ion-title>Shoes</ion-title>
    <ion-buttons end>
      <button (click)="takePhoto()" ion-button icon-only color="white">
        <ion-icon (click)="takePhoto()" name="camera"></ion-icon>
      </button>
    </ion-buttons>
</ion-navbar>
</ion-header>


<ion-content padding>
  <!-- PLACEHOLD IMAGES -->
  <ion-grid class="grid">
  <ion-row>
    <ion-col col-sm-4><img (click)="nikeshoe()" src="https://media.kohlsimg.com/is/image/kohls/2375536_Black_White?wid=240&hei=240&op_sharpen=1"></ion-col>
    <ion-col col-sm-4><img (click)="vanshoe()" src="http://www.novoidplus.com/shop/images/vans_era_red_grey_1.jpg"></ion-col>
    <ion-col col-sm-4><img (click)="brownshoe()" src="https://slimages.macysassets.com/is/image/MCY/products/5/optimized/2544415_fpx.tif?bgc=255,255,255&wid=224&qlt=90,0&layer=comp&op_sharpen=0&resMode=bicub&op_usm=0.7,1.0,0.5,0&fmt=jpeg"></ion-col>
    </ion-row>
  <ion-row>
    <ion-col col-sm-4><img (click)="blackvanshoe()" src="http://scene7.zumiez.com/is/image/zumiez/pdp_hero/Vans-Walker-Pro-Black-Blue-Fog-Skate-Shoes-_275046-front-US.jpg"></ion-col>
    <ion-col col-sm-4><img (click)="rosheshoe()" src="https://images.nike.com/is/image/DotCom/PDP_THUMB_RETINA/511881_603/roshe-one-mens-shoe.jpg"></ion-col>
    <ion-col col-sm-4><img (click)="grayshoe()" src="http://images.footlocker.com/pi/19151003/large/nike-air-huarache-run-ultra-womens"></ion-col>
   </ion-row>
</ion-grid>
<ion-grid>
<ion-row>
<ion-col col-6 *ngFor="let photo of photos; let id = index">
  <!--ACTUAL PHOTO-->
  <ion-card class="block">
    <ion-icon name="trash" class="deleteIcon" (click)="deletePhoto(id)"></ion-icon>
    <img [src]="photo.image" *ngIf="photo.image">
  </ion-card>
</ion-col>
</ion-row>
</ion-grid>
</ion-content>
